.calc{
    height: auto;
    width: auto;
    min-width: 320px;
    max-width: 450px;
    padding-inline: 1rem;
    position: absolute;
    top: 40%;
    z-index: 2;
    box-shadow: 0px 0px 50px hsl(216, 95%, 92%);

    @include breakpoint(medium){
        top: 45%;
    }

    @include breakpoint(large){
        position: absolute;
        top: 15%;
        right: 0;
    }


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 0;
    padding: 1rem;
    margin-inline: 2rem;
    border-radius: 15px;
    background-color: var(--white);

    &--system{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        &__metric,
        &__imperial{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
        }
    }
    &--form{
        min-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        &__metric{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            @include breakpoint(medium){
                flex-direction: row;
                gap: 1rem;

                &--height, 
                &--weight{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 50%;
                }
            }

            @include breakpoint(large){
                flex-direction: row;
                gap: 1rem;

                &--height, 
                &--weight{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                }
            }

            &--height, 
            &--weight{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
        }

        &__imperial{
            width: 100%;
            display: none;
            flex-direction: column;
            text-align: left;

            &--height, 
            &--weight{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 1rem;
            }

            @include breakpoint(medium){
                flex-direction: column;

                &--height, 
                &--weight{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
    &--results{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--blue-500);
        color: var(--white);
        border-radius: 20px;

        @include breakpoint(medium){
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
        }

        &__welcome{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:1rem;
            padding: 1rem;

            h1{
                font-size: 2.25rem;
            }
            p{
                text-align: left;;
            }
        }
        
        &__bmi{
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            h1{
                font-size: 3rem;
            }
            
        }
        &__note{
            display: none;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
    }   
}

#bmi_note,
#bmi_category,
#bmi_range_from,
#bmi_range_to{
    font-weight: bold;
}


.inputs{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #A9A9A9;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.inputs > input{
    font-size: 1rem;
    padding-left: 1rem;
    height: 50px;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.inputs > label{
    padding-inline: 1rem;
    font-size: 1.5rem;
    color: var(--blue-500);
    font-weight: bold;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.01em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  z-index: 2;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue-500);
  z-index: 1;
}

input[type="radio"]:checked{
    border: .65em solid var(--blue-100);
}

input[type="radio"]:checked::before {
  transform: scale(1);

}