.calc{
    position: relative;
    top: -25%;
    left: 0;

    height: auto;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 1rem;
    margin-inline: 2rem;
    border-radius: 15px;
    background-color: var(--white);

    &--system{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    &--form{
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

    }
    &--results{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        border-radius: 15px;
        padding: 1rem;
        background-color: var(--blue-500);
        color: var(--white);
        
        &__bmi{
            h1{
                font-size: 3rem;
            }
            
        }
        &__note{

        }
    }   
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5rem;
}