.calc{
    height: auto;
    min-width: 320px;
    padding-inline: 1rem;
    position: relative;
    top: 20%;
    z-index: 2;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 0;
    padding: 1rem;
    margin-inline: 2rem;
    border-radius: 15px;
    background-color: var(--white);

    &--system{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        &__metric,
        &__imperial{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
        }
    }
    &--form{
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
    &--results{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        border-radius: 15px;
        padding: 1rem;
        background-color: var(--blue-500);
        color: var(--white);
        
        &__bmi{
            h1{
                font-size: 3rem;
            }
            
        }
        &__note{

        }
    }   
}


.metric{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #A9A9A9;
    border-radius: 15px;
}

.imperial{
    width: 100%;
    display: none;
    justify-content: center;
}
.height, .weight {

}


.height.inputs.metric > input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  float: right;
}

.imperial > input{
    font-size: 2rem;
    width: 50%;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 6px;
}

.metric > input{
    // font-size: 2rem;
    height: 50px;
    padding: 0;
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
}
.metric > label{
    padding-inline: 1rem;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.01em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  z-index: 2;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue-500);
  z-index: 1;
}

input[type="radio"]:checked{
    border: .65em solid var(--blue-100);
}

input[type="radio"]:checked::before {
  transform: scale(1);

}