.calc{
    position: relative;
    top: -25%;
    left: 0;

    height: auto;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 1rem;
    margin-inline: 2rem;
    border-radius: 15px;
    background-color: var(--white);

    &--system{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        &__metric,
        &__imperial{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
        }
    }
    &--form{
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        &__height{
            &__inputs{
               &--imperial{
                    padding-top: 1rem;
                    display: none;
                    justify-content: space-around;
                    input{
                        width: 40%;
                        padding: 1rem;
                        border: 1px solid var(--black);
                        border-radius: 20px;
                        text-align: center;
                    }
                }
                &--metric{
                    width: 100%;
                    padding-top: 1rem;
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    input{
                        width: 100%;
                        padding: 1rem;
                        border: 1px solid var(--black);
                        border-radius: 20px;
                        text-align: center;
                    }
                }
            }
        }
        &__weight{
            &__inputs{
                &--imperial{
                    padding-top: 1rem;
                    display: none;
                    justify-content: space-around;
                    input{
                        width: 40%;
                        padding: 1rem;
                        border: 1px solid var(--black);
                        border-radius: 20px;
                        text-align: center;
                    }
                }
                &--metric{
                    width: 100%;
                    padding-top: 1rem;
                    display: flex;
                    justify-content: space-around;
                    input{
                        width: 100%;
                        padding: 1rem;
                        border: 1px solid var(--black);
                        border-radius: 20px;
                        text-align: center;
                    }
                }
            }
        }

    }
    &--results{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        border-radius: 15px;
        padding: 1rem;
        background-color: var(--blue-500);
        color: var(--white);
        
        &__bmi{
            h1{
                font-size: 3rem;
            }
            
        }
        &__note{

        }
    }   
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5rem;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.01em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  z-index: 2;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue-500);
  z-index: 1;
}

input[type="radio"]:checked{
    border: .65em solid var(--blue-100);
}

input[type="radio"]:checked::before {
  transform: scale(1);

}

// input#metric:checked ~ .calc--form__weight__inputs--imperial {
//    display: none;
// }
// input#metric:checked ~ .calc--form__height__inputs--imperial {
//    display: none;
// }

// input#imperial:checked ~ .calc--form__weight__inputs--metric {
//    display: none;
// }
// input#imperial:checked ~ .calc--form__height__inputs--metric {
//    display: none;
// }

// .imperial{
//     padding-top: 1rem;
//     display: flex;
//     justify-content: space-around;
// }

// input[type="number"] {
//         width: 40%;
//         padding: 1rem;
//         border: 1px solid var(--black);
//         border-radius: 20px;
//         text-align: center;
//     }
//     input[type="text"] {
//         width: 40%;
//         padding: 1rem;
//         border: 1px solid var(--black);
//         border-radius: 20px;
//         text-align: center;
//     }