:root{
    --black: black;
    --white: white;
    --grey-50: hsl(223, 35%, 81%);
    --grey-100: hsl(219, 35%, 92%);
    --grey-300: hsl(221, 22%, 81%);
    --grey-500: hsl(219, 9%, 45%);
    --grey-950: hsl(220, 13%, 13%);

    --orange-300: hsl(25, 100%, 71%);
    --orange-500: hsl(26, 100%, 55%);

    [data-product='true'] {
        display: flex;
    }

    [data-product='false'] {
        display: none;
    }

    [data-selected='true'] {
        border: 2px solid var(--orange-500);
        opacity: 0.5;
    }
    [data-selected='false'] {
        border: none;
        opacity: 1;
    }


    --font-size-1: 9rem;         // 144px
    --font-size-2: 4rem;         // 64px
    --font-size-3: 2.25rem;      // 36px
    --font-size-4: 1.75rem;      // 28px
    --font-size-5: 1.5rem;       // 24px
    --font-size-6: 1.25rem;      // 20px
    --font-size-7: 1rem;         // 16px
    --font-size-8: .938rem;      // 15px
    --font-size-9: .813rem;      // 13px
    --font-size-10: .75rem;      // 12px

    --line-height-1: 48px;
    --line-height-2: 32px;       
    --line-height-3: 26px;
    --line-height-4: 16px;     
    --line-height-5: 15px;  

    --letter-spacing: 0;

    --spacing-0: 0rem;           // 0px
    --spacing-10: 0.0625rem;     // 1px
    --spacing-20: 0.125rem;      // 2px
    --spacing-50: 0.25rem;       // 4px
    --spacing-100: 0.5rem;       // 8px
    --spacing-200: 1rem;         // 16px
    --spacing-300: 1.5rem;       // 24px
    --spacing-400: 2rem;         // 32px
    --spacing-500: 2.5rem;       // 40px
    --spacing-600: 3rem;         // 48px
    --spacing-700: 4rem;         // 64px    
    --spacing-1000: 5rem;        // 80px
    --spacing-1200: 6rem;        // 96px
    --spacing-1500: 7.5rem;      // 120px
    --spacing-1600: 8rem;        // 128px
    --spacing-1800: 9rem;        // 144px
    --spacing-2000: 10rem;       // 160px
    --spacing-2500: 11rem;       // 176px
    --spacing-2300: 11.5rem;     // 184px
}