/*  Mobile first  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;

    gap: var(--spacing-200);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-width: 320px;

    @include breakpoint(medium) {
        max-width: 820px;
        background-color: blue;
    }

    @include breakpoint(large) {
        max-width: 1110px;
        background-color: yellow;
    }
}