/*  Mobile first  */
.container {
    height: 100vh;
    min-width: 320px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: var(--spacing-200);
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(medium) {
        max-width: 820px;
    }

    @include breakpoint(large) {
        max-width: 1110px;
    }
}

.header{
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background-image: var(--gradient);

    @include breakpoint(medium) {
        max-width: 820px;
        
    }

    @include breakpoint(large) {
        max-width: 1110px;
        flex-direction: row;
    }

    &--title{
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding-inline: 1.5rem;
        padding-top: 2rem;
    }

    &--spacer{
        height: 30%;
        min-height: 30vh;
        width: 100%;
        height: 1px;
        background-color: red;
    }
}