/*  Mobile first  */
.container {
    min-width: 320px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(medium) {
        max-width: 820px;
    }

    @include breakpoint(large) {
        max-width: 1110px;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    height: 100%;

    @include breakpoint(medium) {
        max-width: 820px;
        
    }

    @include breakpoint(large) {
        max-width: 1110px;
       flex-direction: row;
       
    }

    &--title{
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        
        &__head{
            width: 100%;
            min-height: 500px;
            height: 100%;
            background-image: var(--gradient);
        }

        &__spacer{
            width: 100%;
            min-height: 300px;
            height: 100%;
            background-color: white;   
        }
        

        @include breakpoint(large) {
            max-width: 1110px;
            height: 100%;
            flex-direction: row;
            padding: 0;
            gap: 0;
            min-height: 400px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;

            &__head{
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2rem;
                background-image: var(--gradient);

                p{
                    width: 60%;
                    text-align: left;
                }
            }

            &__spacer{
                width: 30%;
                height: 100%;
                background-color: white;   
            }
        }
    }

}


.mission, 
.limitations{
    width: inherit;
    &--goals{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        &__card{
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }
}

.mission{
    @include breakpoint(large) {
        
         &--goals{
            flex-direction: row;
            padding: 4rem;
            
         }
    }
}

.limitations{
    &--goals{
        &--title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            h1{
                padding-bottom: 1rem;
            }
        }
    }

    @include breakpoint(medium) {

        &--goals{
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(3, auto);

            &--title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                padding: 1rem;

                grid-row: 1 / 1;
                grid-column: 2 / 9;
                h1{
                    font-size: 3rem;
                    text-align: left;
                }
                p{
                    text-align: left;
                }
            }
            .card{
                width: 100%;
                height: 100%;
            }

            #gender{
                grid-row: 1 / 1;
                grid-column: 10 / 15;
            }
            #age{
                grid-row: 2 / 2;
                grid-column: 7 / 12;
            }
            #muscle{
                grid-row: 2 / 2;
                grid-column: 12 / 17;
            }
            #pregnancy{
                grid-row: 3 / 3;
                grid-column: 10 / 15;
            }
            
            #race{
                grid-row: 3 / 3;
                grid-column: 5 / 10;
            }
        }
       
    }
}

.mission_header{
    display: flex;
    flex-direction: column;
    justify-self: center;
    
    &--img{
        width: 100%;
        justify-self: flex-end;
        img{
            width: 100%;      
            object-fit: contain;
        }
    }

    &--head{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            &__title{
                padding-bottom: 1rem;
            }
        }

    @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        width: 90%;

        &--img{
            width: 50%;
            justify-self: flex-end;
            img{
                width: 100%;      
                object-fit: contain;
            }
        }
        &--head{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            &__title{
                padding-bottom: 1rem;
            }
        }
    }
}

.goals{
    background: hsla(216, 95%, 92%, 0.2);
    margin-bottom: 2rem;
    border-radius: 20px;
}

.card{
    box-shadow: 0px 0px 50px hsl(216, 95%, 92%);
    border-radius: 20px;
    width: 350px;
    height: 200px;
    display: flex;
    gap: 1rem;
}

.icon{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    img{
        height: 100%;
        width: auto;
        object-fit: contain;
        
    }    
}