/*  Mobile first  */
.container {
    min-width: 320px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //gap: var(--spacing-200);
    //gap: 500px;
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(medium) {
        max-width: 820px;
    }

    @include breakpoint(large) {
        max-width: 1110px;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background-image: var(--gradient);
    margin-bottom: 500px;

    @include breakpoint(medium) {
        max-width: 820px;
        
    }

    @include breakpoint(large) {
        max-width: 1110px;
        flex-direction: row;
    }

    &--title{
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding-inline: 1.5rem;
        padding-top: 2rem;
        z-index: 1;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        p{
            height: 100%;
        }

        &__spacer{
            position: relative;
            height: 10rem;
            width: 100%;
            margin-inline: auto;
        }
    }

}


.mission, 
.limitations{
    width: inherit;
    img{
       width: 100%;
    }

    &--goals{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__card{
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }
}

.icon{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    img{
        height: 100%;
        width: auto;
        object-fit: contain;
        
    }    
}