/*  Mobile first  */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: var(--spacing-200);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-width: 320px;

    @include breakpoint(medium) {
        max-width: 820px;
    }

    @include breakpoint(large) {
        max-width: 1110px;
    }
}

.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "a b b"
        "c d d"
        "c d d";
    gap: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.grid-a{
    grid-area: a;
    background-color: red;
}
.grid-b{
    grid-area: b;
    background-color: blue;
}
.grid-c{
    grid-area: c;
    background-color: green;
}
.grid-d{
    grid-area: d;
    background-color: yellow;
}