/*  Mobile first  */
.container {
    min-width: 320px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(medium) {
        max-width: 820px;
    }

    @include breakpoint(large) {
        max-width: 1110px;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background-image: var(--gradient);
    margin-bottom: 500px;

    @include breakpoint(medium) {
        max-width: 820px;
        
    }

    @include breakpoint(large) {
        max-width: 1110px;
        flex-direction: row;
    }

    &--title{
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding-inline: 1.5rem;
        padding-top: 2rem;
        z-index: 1;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        p{
            height: 100%;
        }

        &__spacer{
            position: relative;
            height: 10rem;
            width: 100%;
            margin-inline: auto;
        }
    }

}


.mission, 
.limitations{
    width: inherit;
    &--goals{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        &__card{
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }
}

.mission{
    @include breakpoint(large) {
        
         &--goals{
            flex-direction: row;
            padding: 4rem;
            
         }
    }
}

.limitations{
    @include breakpoint(medium) {

        &--goals{
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(3, auto);

            .limit_title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                grid-row: 1 / 1;
                grid-column: 1 / 8;
                h1{
                    font-size: 3rem;
                }
            }
            .card{
                width: 100%;
                height: 100%;
            }

            #gender{
                grid-row: 1 / 1;
                grid-column: 10 / 15;
            }
            #age{
                grid-row: 2 / 2;
                grid-column: 7 / 12;
            }
            #muscle{
                grid-row: 2 / 2;
                grid-column: 12 / 17;
            }
            #pregnancy{
                grid-row: 3 / 3;
                grid-column: 10 / 15;
            }
            
            #race{
                grid-row: 3 / 3;
                grid-column: 5 / 10;
            }
        }
       
    }
}

.mission_header{
    display: flex;
    flex-direction: column;
    justify-self: center;
    
    &--img{
        width: 100%;
        justify-self: flex-end;
        img{
            width: 100%;      
            object-fit: contain;
        }
    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 90%;

        &--img{
            width: 50%;
            justify-self: flex-end;
            img{
                width: 100%;      
                object-fit: contain;
            }
        }
        &--head{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
        }
    }
}


.info{
        text-align: center;
        padding-inline: 1rem;
        font-size: 1rem;
}

.goals{
    background: #ffffff;
    background: linear-gradient(94deg,rgba(255, 255, 255, 1) 0%, hsl(216, 95%, 92%) 100%);
    margin-bottom: 2rem;
    box-shadow: 0px 0px 50px hsl(216, 95%, 92%);
    border-radius: 20px;
}

.card{
    box-shadow: 0px 0px 50px hsl(216, 95%, 92%);
    border-radius: 20px;
    width: 350px;
    height: 200px;
    display: flex;
    gap: 1rem;
}

.icon{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    img{
        height: 100%;
        width: auto;
        object-fit: contain;
        
    }    
}